<div class="form-horizontal">
    <div class="jumbotron">
        <h3>Area Perfiles</h3>
        <table class="table"  width="100%">
          <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">nombre</th>
              <th scope="col">apellido</th>
              <th scope="col">rol</th>
            </tr>
          </thead>
            <tbody>     
                <tr id="prs.{{$index+1}}" ng-repeat="prs in searchResults | orderBy:'prs.idusuarios_gestordoc'">
                    <th><a href="app.html#/Perfiles/edit/{{$index}}">link {{$index+1}}</a></th>
                    <td>{{prs.nombre}}</td>
                    <td>{{prs.apellidos}}</td>
                    <td>{{prs.usuario}}</td>
                </tr>
            </tbody>
        </table>
     </div>
    <div>
</div>